spring:
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Shanghai
  application:
    name: user-center-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://101.43.234.93:3306/usercenter?useSSL=false
    username: usercenter
    password: 3mDtepZZXRKXHEJj
    # session 失效时间(分钟)
#    url: jdbc:mysql://localhost:3306/qingwa?useSSL=false
#    username: qingwa
#    password: 245680
  session:
    timeout: 86400
    store-type: redis
  mvc:
    path match:
      matching-strategy: ant_path_matcher
    # redis 配置
  redis:
    port: 6379
    host: 101.43.234.93
    database: 1
    password: 245680

#DataSource Config
server:
  port: 8080
  servlet:
    context-path: /api
    session:
      cookie:
        domain: localhost
  address: 0.0.0.0
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)


